.title-result {
  margin-top: 10px;
  margin-left: 50px;
  color: white;
  font-size: 30px;
  .query-text {
    color: #6046ff;
    font-weight: bold;
    font-size: 35px;
  }
}

.movies-container {
  padding: 24px 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  list-style: none;
  width: 100%;
}
