.modal-container {
  display: flex;
  flex-direction: column;

  .modal-content {
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
      margin-bottom: 4px;
      padding: 20px;
    }
  }
  label {
    color:#6046ff;
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  .input-generated-link{
    border-radius: 6px;
    border: none;
    height: 25px;
    color: white;
    font-size: 1rem;
    padding: 0.4rem;
    align-items: center;
    background-color: rgba(211, 221, 252, 0.25);
  }
  .input-list-name{
    border-radius: 6px;
    border: none;
    height: 25px;
    color: white;
    font-size: 1rem;
    padding: 0.4rem;
    align-items: center;
    background-color: rgba(211, 221, 252, 0.25);
  }
  .share-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

}


