.favorites-page {
  color: white;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
  .empty-text {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
  }
}